<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a class="buy-with-crypto"
          href="https://commerce.coinbase.com/checkout/b9e23fa5-8270-489b-97b1-ce43669c4129">
          Buy with Crypto
        </a>
        <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
        </script>
      </div>
</body>
</html>